.container {
  margin-left: 625px;
  margin-top: 100px;
}

.div-1 {
  display: inline-block;
  margin-right: 100px;
}

.div-2 {
  display: inline-block;
  margin-right: 100px;
}

.div-3 {
  display: inline-block;
}